# history
.history/

# testfile.yml
study/testfile.yml

# etc file
dockerfile

# 220217_scraping in lambda.md
220217_scraping in lambda.md

# dynamoDB
AWS/dynamoDB/

# python/220329json.md
python/220329json.md

# 대기

github/220414_ssh.md
ubuntu/220414_cat.md
ubuntu/220414_order_for_building_dev_env.md
ubuntu/220415_asdf.md
ubuntu/220414_xclip.md