# history
.history/

# testfile.yml
study/testfile.yml

# etc file
dockerfile

# 220217_scraping in lambda.md
220217_scraping in lambda.md

# dynamoDB
AWS/dynamoDB/

# python/220329json.md
python/220329json.md